.Details {
  padding: 15px;
  background: white;
  border-radius: 5px;
  /* flex: 1; */
  position: relative;
  animation: open .5s forwards;
}

.background {
  display: none;
}

@keyframes open {
  from {
    width: 0px;
    flex: 0;
  }
  to {
    width: 100%;
    flex: 1;
  }
}

.close {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: white;
  color: rgb(100, 100, 100);
  display: grid;
  place-content: center;
  position: absolute;
  right: -10px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  cursor: pointer;
  transition: background .1s ease;
}

.close:hover, .open:hover {
  background: rgb(233, 233, 233);
}

.noDetails {
  position: absolute;
  right: 0;
  top: 20%;
}

.noDetails > div {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: grid;
  place-content: center;
  position: relative;
  z-index: 200;
}

.open {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: white;
  color: rgb(100, 100, 100);
  display: grid;
  place-content: center;
  position: absolute;
  top: 50%;
  left: -40%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 201;
  cursor: pointer;
  transition: background .1s ease;
}

@media (max-width: 920px) {
  .Details {
    width: 100%;
    height: 80dvh;
    background: white;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 20dvh;
    left: 0;
    z-index: 1000;
    animation: openUp .5s forwards;
  }

  .close {
    width: 30px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    top: -50px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }

  .background {
    display: inline;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 250;
    backdrop-filter: blur(1px);
  }
}

@keyframes openUp {
  from {
    top: 100%
  }
  to {
    top: 20dvh;
  }
}