.Pagination {
  width: 100%;
  /* margin-top: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.pages {
  display: flex;
  align-items: center;
  gap: 5px;
}
