.tableWrapper {
  width: 100%;
  max-height: 76dvh;
  overflow: scroll;
  position: relative;
}

.GenericTable {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, .3);
  border-collapse: separate;
  border-spacing: 0;
  /* border-collapse: collapse; */
  border-radius: 10px;
  flex: 1;
}

.GenericTable thead {
  height: 40px;
  background: var(--bg-secondary-light);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.GenericTable thead td {
  padding: 0 20px;
  text-align: left;
}

.GenericTable td {
  padding: 2px 5px;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}

.GenericTable tbody {
  height: 200px;
  background: var(--bg-light);
}

.GenericTable tbody td {
  padding: 15px 20px;
  border-bottom: 3px solid var(--bg-secondary-light);
}
