.ButtonIconList {
  display: flex;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  overflow: hidden;
}

.ButtonIconList > button {
  border-left: 1px solid rgb(168, 168, 168);
}

.ButtonIconList > button:first-child {
  border-left: none;
}