@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-primary: #3D3D3D;
  --bg-secondary: #F6F7F8;
  --bg-secondary-light: #F5F5F5;
  --bg-light: #FCFCFD;
  --bg-contrast: #FEC50F;
  --bg-contrast-secondary: #F57601;
  --font-color-primary: #434446;
  --font-color-secondary: white;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  overflow-y: auto;
}

body {
  color: var(--font-color-primary);
  background: var(--bg-secondary);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 500px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--bg-secondary);
  }
  ::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
  }
}