:root {
  --bg-primary: #3D3D3D;
  --bg-secondary: #F6F7F8;
  --font-color: #434446;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  background: var(--bg-secondary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
