.IconTitle {
  width: 100%;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.IconTitle h2 {
  color: var(--font-color-primary);
  font-weight: 400;
  font-size: 1.2rem;
}

.IconTitle h3 {
  color: var(--font-color-primary);
  font-weight: 400;
  font-size: 1.1rem;
}