.Dashboard {
  width: 100%;
  height: 100dvh;
  /* overflow-y: scroll; */
}

.mainPage {
  width: 100%;
  max-height: 100%;
}

.mainContainer {
  width: 100%;
  max-height: 85dvh;
  padding: 10px 30px;
  overflow: auto;
  display: flex;
  gap: 30px;
}