.Dashboard {
  width: 100%;
  height: 100dvh;
  /* overflow-y: scroll; */
}

.mainPage {
  width: 100%;
  max-height: 100%;
}

.mainContainer {
  width: 100%;
  max-height: 85dvh;
  overflow: auto;
  /* max-height: 500px; */
  /* display: flex;
  flex-wrap: wrap; */
}