.mapContainer {
  height: min(500px, 40dvh);
  max-height: 20%;
  width: 100%;
  background-color: lightgrey;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.resetButton {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.mapContainer :global(.mapboxgl-popup-content) {
    background-color: rgba(0, 0, 0, 0.664); /* Color de fondo oscuro */
    color: #fff;            /* Texto blanco */
    border-radius: 8px;
    padding: 10px;
}

/* Para cambiar el color de la "flechita" de abajo del popup */
.mapContainer :global(.mapboxgl-popup-tip) {
    border-top-color: rgba(0, 0, 0, 0.664); 
}