.InfoField {
  display: flex;
  gap: 15px;
  color: var(--font-color-primary);
}

.InfoField .content {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.content {
  width: 200px;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.content span {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .9rem;
  font-weight: 300;
}

.content span svg, 
.content span img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.content h3 {
  font-size: 1rem;
  font-weight: 500;
}

.content h4 {
  font-size: 1rem;
  font-weight: 400;
}

/* .children {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content span {
  width: 200px;
  font-size: .9rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
} */

.imgField {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.imgLoad {
  display: block;
  width: 40px;
  height: 40px;
  background: var(--bg-secondary);
}

@media (max-width: 500px) {
  .content h3 {
  font-size: .9rem;
}

.content h4 {
  font-size: .8rem;
}

.content span {
  font-size: .7rem;
}
}